.FormMedicalHistory__label {
  margin: 32px 0 16px 0;
  font-size: 1.25em;
}

.FormMedicalHistory__label:first-child {
  margin-top: 0;
}

.FormMedicalHistory__label--with-sublabel {
  margin-bottom: 0;
}

.FormMedicalHistory__sublabel {
  font-size: 14px;
  margin: 0;
}

.FormMedicalHistory__multiselect {
  margin-top: 16px;
}

.FormMedicalHistory__habit {
  margin-bottom: 16px;
}

label.FormMedicalHistory__habit-switch {
  margin-bottom: 0;
}

@media (min-width: 750px) {
  .FormMedicalHistory__conditions {
    display: flex;
    flex-wrap: wrap;
  }

  .FormMedicalHistory__condition-checkbox {
    width: 50%;
  }
}
